# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [41]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
Salary = 0
for sal in salaries["Salary or Hourly"]:
    if sal == "Salary":
        Salary +=1
        

Hourly = 0
for hour in salaries["Salary or Hourly"]:
    if hour == "Hourly":
        Hourly +=1

print (Salary, Hourly)

print (salaries["Salary or Hourly"].value_counts())

25161 8022
Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

In [6]:
salaries.shape

(33183, 8)

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
salaries

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
13,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,F,Salary,NaN,102228.0,NaN
14,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
15,"ABDOLLAHZADEH, ALI",FIREFIGHTER/PARAMEDIC,FIRE,F,Salary,NaN,91272.0,NaN
16,"ABDUL-KARIM, MUHAMMAD A",ENGINEERING TECHNICIAN VI,WATER MGMNT,F,Salary,NaN,111492.0,NaN
17,"ABDULLAH, DANIEL N",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,95484.0,NaN
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
19,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
20,"ABDULSATTAR, MUDHAR",CIVIL ENGINEER II,WATER MGMNT,F,Salary,NaN,65448.0,NaN
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
22,"ABEJERO, JASON V",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
23,"ABERCROMBIE IV, EARL S",PARAMEDIC I/C,FIRE,F,Salary,NaN,82614.0,NaN
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
25,"ABFALL, RICHARD C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
26,"ABIOYE, ADEWOLE A",LIBRARY ASSOCIATE - HOURLY,PUBLIC LIBRARY,P,Hourly,20.0,NaN,25.10
27,"ABNEY, PATRICK",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
28,"ABOUASSI, CHADI",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
29,"ABOUELKHEIR, HASSAN A",SENIOR PROGRAMMER/ANALYST,FAMILY & SUPPORT,F,Salary,NaN,110064.0,NaN
...,...,...,...,...,...,...,...,...
33153,"ZUNIGA, NOE",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33154,"ZUNIGA, OSCAR",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
33155,"ZUNIGA, RONALD",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33156,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12
33157,"ZUNIGA, VICENTE",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,92274.0,NaN
33158,"ZUNO, ERIK",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33159,"ZUPAN, BILL M",LIEUTENANT-EMT,FIRE,F,Salary,NaN,114324.0,NaN
33160,"ZUPANCIC, KELLY",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33161,"ZURAWSKI, JEFFREY",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85
33162,"ZURAWSKI, MAC Z",REFUSE COLLECTION COORD,STREETS & SAN,F,Salary,NaN,76896.0,NaN
33163,"ZURAWSKI, MARY E",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33165,"ZUREK, MARY H",SENIOR PUBLIC INFORMATION OFFICER,FINANCE,F,Salary,NaN,89076.0,NaN
33166,"ZURITA, ADRIEL",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33167,"ZVANJA, TINA M",LEGAL SECRETARY,LAW,F,Salary,NaN,76932.0,NaN
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33170,"ZWIT, JEFFREY J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33171,"ZWOLFER, MATTHEW W",LIEUTENANT-EMT,FIRE,F,Salary,NaN,114324.0,NaN
33172,"ZYCH, MATEUSZ",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33173,"ZYDEK, BRYAN",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85
33176,"ZYGMUNT, ARTUR",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

In [8]:
# Your code here:
print (salaries["Department"].value_counts())

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [9]:
# Your code here:
from scipy.stats import ttest_1samp

In [10]:

values = salaries["Typical Hours"].value_counts()

print (values)

40.0    5833
20.0    1901
10.0     184
35.0     104
Name: Typical Hours, dtype: int64

In [11]:
mean = salaries["Typical Hours"].mean()
h = salaries["Typical Hours"]
p = h.dropna()  #columna de Typical Hours con valores validos

In [12]:
ttest_1samp(p,30)

Ttest_1sampResult(statistic=43.63629396989955, pvalue=0.0)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [37]:
salaries.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [21]:
# Your code here:
grouped = salaries.groupby('Department')
police_only = grouped.get_group("POLICE")
pol = police_only["Annual Salary"]
pp = pol.isnull().sum()

pc = pol.dropna()

0

In [22]:
ttest_1samp(pc,86000)

#Aceptamos la hipotesis nula, p<0,05

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

Using the `crosstab` function, find the department that has the most hourly workers.

In [26]:
# Your code here:
pd.crosstab(salaries.Department, salaries["Salary or Hourly"])

#STREETS & SAN = 1862 hourly workers

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [32]:
# Your code here:
grouped = salaries.groupby('Department')
streets_only = grouped.get_group("STREETS & SAN")
array_streets = streets_only["Typical Hours"]
st = array_streets.dropna()

ttest_1samp(st,35)

Ttest_1sampResult(statistic=10.507580902364046, pvalue=3.965023591630233e-25)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [39]:
grouped = salaries.groupby('Salary or Hourly')
hourly_only = grouped.get_group("Hourly")
array_hourly = hourly_only["Typical Hours"]
th = array_hourly.dropna()

In [51]:
se = scipy.stats.sem(th)
mean = th.mean()
mean

34.50760408875592

In [50]:
from scipy.stats import sem, t

confidence = 0.95
n = len(th)
m = mean
std_err = se
h = std_err * t.ppf((1 + confidence) / 2, n - 1)

first = m - h
print (first)

last= m + h
print (last)

34.30511037945295
34.71009779805889

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
# Your code here:

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: